.handle-tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom: 8px;
    margin-left: 10px;
}

.handle-tooltip .handle-tooltip-arrow {
    bottom: 30%;
    left: 0;
    border-right: 5px solid rgba(255, 255, 255, 0.6);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.handle-tooltip-inner {
    width: 80px;
    font-size: 12px;
    padding: 3px 8px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
}
.ui-slider a {outline:none;} /* discard the border when you click on the handle's slider */
.ui-slider-vertical {height: 300px;}
#slider-dreams, #slider-dreams-nowebgl{
    position: fixed;
    margin-left: 205px;
    margin-top: 22px;
}
.moveHandle{
    color:black !important;
    z-index: 12000 !important;
}
.lastHandled{
    z-index: 11999 !important;
}
.even-display{
    clear: left;
}
/* Enscroll */
#scrollbox4 {
    overflow: auto;
    width: 400px;
    height: 360px;
    padding: 0 5px;
    border: 1px solid #b7b7b7;
}

.track4 {
    width: 10px;
    background-clip: padding-box;
    opacity: 0.7;
    background: #000;
    border-style: solid;
    border-color: transparent;
    border-width: 0;
    border-left-width: 1px;
    margin-left: 0px;
}

.track4.dragging,
.track4:hover {
    background: #D1D1E0; /* No RGBA support */
    background: rgba(209, 204, 204, 0.3);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);

}

.track4:active {
    background: #D1D1E0; /* No RGBA support */
    background: rgba(209, 204, 204, 0.3);
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                        inset -1px -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.14),
                inset -1px -1px 0 rgba(0, 0, 0, 0.07);
}

.handle4 {
    width: 10px;
    height: 55px !important;
    color: #fff;
    background-clip: padding-box;
    background: #ccc; /* No RGBA support 
    background: rgba(0, 0, 0, 0.2); */
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                        inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
                inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    border-radius: 7px;
}

.handle4:hover {
    background: #999; /* No RGBA support 
    background: rgba(0, 0, 0, 0.4); */
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;
    font-weight: normal;
}

.dragging .handle4,
.handle4:active {
    background: gray; /* No RGBA support 
    background: rgba(0, 0, 0, 0.5); */
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.dragging .handle4 .handle-tooltip-inner {
    background-color: gray; /* No RGBA support 
    background: rgba(0, 0, 0, 0.5); */
    color: white;
    opacity: 1;
}
@media all and (max-device-width: 768px){
    .handle-tooltip-inner{
        font-weight: bold;
        opacity: 1;
    }
    .track4{
        opacity: 1;
    }
}
    