body{
	margin: 0;
	background-color: black;
}
#mycanvas{
	border-style: solid;
	border-width: 2px;
	border-color: white;
	background-color: black;
}
#mycanvasbis{
	border-style: solid;
	border-width: 2px;
	border-color: white;
	width: 600px;
	height: 600px;
	background-color: black;
	margin-right: auto;
	margin-left: auto;
}
.controls{
	display: none;
}