/*
* Stalker webSlider
*/
#sink {
    width: 100%;
    height: 100%;
}
#sink #preview-strip {
    width: 95px;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100%;
    border-top: none;
    text-align: left;
}
#sink #preview-strip-nowebgl {
    width: 110px;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
    /*background: rgba(0, 0, 0, 0.5);*/
    white-space: nowrap;
    border-top: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
#sink #preview-strip ul,#preview-strip-nowebgl ul {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}
#sink #preview-strip ul li, #preview-strip-nowebgl ul li {
    clear: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
    margin-left: 7px;
    margin-bottom: 2px;
    margin-right: 0px;
    list-style: none;
    background: #000;
    display: inline;
    width: 80px;
    height: 80px;
    cursor: pointer;
    opacity: 0.65;
}
#sink #preview-strip-nowebgl ul li {
    display: block;
}
#preview-strip-nowebgl ul li img {
    border-radius: 4px;
    position: relative;
    top: 0;
    bottom: 0;
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    -webkit-opacity: 0.9;
}
#preview-strip-nowebgl ul li img {
    width: 80px;
    height: 40px;
    top: 19.5px;
}
#simpleImgSlider{
        margin-left: 110px;
        max-width: 900px;
        max-height: 900px;
        background-color: black;
    }
#simpleImgSlider img{
    position: relative;
    display: block;
    /*margin: auto;*/
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    display: table;
    padding: 20px;
    padding-bottom: 80px;
}
.overlay > .wrap {
    vertical-align: middle;
}
.messagebox {
    margin: auto;
    width: 450px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    opacity: 0.95;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 20px #000000;
    -moz-box-shadow: 0px 0px 20px #000000;
}
/** QR Styles **/
.yui3-stalker-slider-hidden {
    display: none;
}
/** Stats.js styles **/
#stats {
    position: fixed;
    right: 180px;
    top: 15px;
}
#detailsandshare {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 10px;
    font-family: 'Pathway Gothic One';
    text-align: right;
    color: white;
    z-index: 20000;
    height: 32px;
    line-height: 1.2em;
    padding-top: 5px;
    width: 190px;
    padding: 5px;
    background-image: url('../img/barre.png');
    letter-spacing: 1px;
    opacity: 0.65;
}

#myModal{
    background-color: #f2f2f2;
    text-align: center;
    text-transform: uppercase;
}

#myModal .modal-header{
    font-weight: bold;
    font-size: 35px;
    font-family: RaleighRock, Helvetica;
    padding-top:30px;
}

#myModal .modal-header img{
    width:40px;
    margin-right:20px;
    display: inline;
}

#myModal .modal-body{
    margin-top: 20px;
    font-size: 30px;
    text-decoration: underline;
    text-align: left;
    padding-top: 20px;
    font-family: 'Economica';
}

#myModal .modal-body p{
    margin-left:55px;
}

#myModal #walls_btn{
    margin-top: 30px;
}

#myModal #walls_btn .wall_btn{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 17px;
    width: 110px;
    height:190px;
    padding-top:10px;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-left: 50px;
    cursor: pointer;
}

#myModal #walls_btn .wall_btn.selected{
    background-color: rgb(202, 202, 202);
}

#myModal #walls_btn .wall_btn p{
    margin:0px;
    padding-left: 12px;
    display: inline-block;
    padding-right: 12px;

}

#myModal #walls_btn .wall_btn p.title{
    max-height: 45px;
    min-height: 45px;
    text-align: bottom;
}

#myModal #walls_btn .wall_btn p.description{
    font-size: 12px;
}

#myModal #walls_btn .wall_btn a{
    color:#333;
    font-size: 14px;
}

#myModal #walls_btn .wall_btn img{
    width:90px;
    margin-bottom: 5px;
}

#myModal .modal-footer{
    padding: 14px 75px 15px;

}

#myModal .modal-footer button{
    line-height: 0px;
    background-color: transparent;
}


#detailsandshare .details{
    position: static;
    float: right;
    background: none;
    background-image: none;
    border: none;
    width: auto;
    height: auto;
    margin-top: 0px;
    font-family: Economica;
    font-size: 13px;
    padding-top: 0;
    line-height: 1;
}

/*ABG*/

#nav-bar{
    display: none;
}
#stalkerlogo{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 15px;
    opacity: 0.8;
}
.logos{
    position: absolute;
    z-index: 100;
    margin-right: 10px;
    margin-bottom: 15px;
    opacity: 0.65;
    right: 0;
    border-bottom: 1px solid #FFF;
}
#maisonlogo{
    bottom: 0;
    border-bottom: none;
}
#fillogo{
    bottom:74px;
}
#comemlogo{
    bottom:141px;
}
#heiglogo{
    bottom:191px;
}
#sink #preview-strip ul .dreamselected, #preview-strip-nowebgl ul .dreamselected{
    border: 2px solid #fff;
    margin: 1px 0 1px 6px;
    opacity: 0.9;
}
#shares{
    position: absolute;
    top: 0;
    padding-top: 5px;
    padding-left: 5px;
}
#sharefb{
    background: url("../img/fb.png") 0 -31px;
    display: inline-block;
    width:31px;
    height: 31px;
    cursor: pointer;
}
#sharewall{
    background: url("../img/projo.png") 0 -31px;
    display: inline-block;
    width:31px;
    height: 31px;
    margin-left: 15px;
    cursor: pointer;
}
#sharefb:hover{
    background: url("../img/fb.png") 0 0;
    display: inline-block;
    width:31px;
    height: 31px;
    cursor: pointer;
}
#sharewall:hover{
    background: url("../img/projo.png") 0 0;
    display: inline-block;
    width:31px;
    height: 31px;
    margin-left: 15px;
    cursor: pointer;
}


#modal_ok_btn{
    background: url("../img/modal_ok_btn.png");
    display: inline-block;
    width:44px;
    height: 44px;
    margin-left: 5px;
}

#modal_back_btn{
    background: url("../img/modal_back_btn.png");
    display: inline-block;
    width:44px;
    height: 44px;
    margin-left: 0px;
}
.mCSB_draggerContainer .mCSB_dragger_bar #dateThumbnail .handle-tooltip-inner{
        z-index: 2;
    }
.mCSB_container{
    margin-right: 0px;
}
.mCSB_scrollTools{
    right: auto;
    left: 90px;
}
.mCSB_scrollTools .mCSB_dragger{
    height: 55px;
}
@media only screen and (max-width: 768px){
    .details{
        display: none;
    }
    #detailsandshare {
        position: absolute;
        bottom: 0px;
        left: 95px;
        font-size: 10px;
        font-family: 'Pathway Gothic One';
        z-index: 14;
        text-align: right;
        color: white;
        height: 42px;
        line-height: 1.2em;
        padding-top: 5px;
        width: 100%;
        padding: 5px;
        background-image: none;
        letter-spacing: 1px;
        opacity: 1;
    }
    #sharefb{
        background: url("../img/fb_smart.png");
        width:41px;
        height: 41px;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    #sharewall{
        background: url("../img/projo_smart.png");
        width:41px;
        height: 41px;
        margin-left: 15px;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    #sharefb:hover{
        background: url("../img/fb_smart.png");
        width:41px;
        height: 41px;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    #sharewall:hover{
        background: url("../img/projo_smart.png");
        width:41px;
        height: 41px;
        cursor: pointer;
        background-repeat: no-repeat;
    }
    #maisonlogo{
        width: 80px;
        height: 33px;
        margin-bottom: 5px;
        opacity: 1;
    }
     #sink #preview-strip-nowebgl {
     width: 210px;
     height: 100%;
     overflow: auto;
     position: static;
     top: 0;
     left: 0;
     z-index: 13;
     background: rgba(0, 0, 0, 0);
     white-space: nowrap;
     border-top: none;
     -webkit-transition: all 0.2s ease-out;
    }
    #stalkerlogo{
        display: none;
    }
    #simpleImgSlider{
        position: absolute;
        left: 110px;
        right: 0;
        max-width: 100%;
        max-height: 100%;
        top: 30%;
        z-index: -1;
        margin-left: 0;
    }
    #simpleImgSlider img{
        position: relative;
        display: block;
        z-index: -1;
        /*margin: auto;*/
        top:-30%;
    }
    .mCSB_draggerContainer .mCSB_dragger_bar #dateThumbnail .handle-tooltip-inner{
        z-index: 2;
    }
    #fillogo,#comemlogo,#heiglogo{
        display: none;
    }
}
@media screen and (orientation:landscape) {
    #simpleImgSlider{
        top: auto;
    }
    #simpleImgSlider img{
        top:auto;
    }
}
