<% @title="Edit category" %>
<% content_for :header_content do %>
	<%= render 'layouts/header_admin' %>
<% end %>
<div id="content" class="container">
	<div class="page-header">
		<h1>Editing category</h1>
	</div>

	<%= render 'form' %>

	<%= link_to 'Back to list', categories_path %>
</div>
