<div class="navbar active navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container" style="width:auto">
    		<%= link_to 'Stalker', root_url, :class => 'brand' %>
	        <div class="nav-collapse">
			    <ul class="nav" id="mainNav">
			    	<li class="dropdown">
			    		<%= link_to "Draw a dream", :root %>
			         </li>
			    </ul>
			    <%= link_to "Logout", {:controller => "sessions", :action => "logout"}, :class => 'btn btn-danger pull-right' %>
			</div>
		</div>
    </div>
</div>